<link rel="stylesheet" href="D:\Users\Carlos\Desktop\examen\public\stylesheets\navbar.css">

<div id="navbar"> 
    <li><a href="./a単adirUsuario">A単adir Usuario</a></li> 
    <li><a href="./listaUsuario">Listar Usuario</a></li> 
    <li><a href="./a単adirCoche">A単adir Coche</a></li> 
    <li><a href="./listaCoche">Listar Coche</a></li> 
</div> 