<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='D:\Users\Carlos\Desktop\examen\public\stylesheets\navbar.css' />
  </head>
  <body>
    {{> navbar}}

</body>
</html>
